<%= form_for mission do |form| %>
  <div>
    <%= form.label :title, "任務名" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :priority, "優先度" %>
    <%= form.select :priority, [["緊急", 'urgent'], ["普通", "common"], ["沒很重要", "low"]] %>
  </div>
  <div>
    <%= form.label :category, "種類" %>
    <%= form.select :category, [["公事", "company"], ["家事", "home"]] %>
  </div>
  <div>
    <%= form.label :start_time, "起始時間" %>
    <%= form.date_select :start_time %>
    <%= form.time_select :start_time, :ignore_date => true %>
  </div>
  <%= form.submit "送出" %>
<% end %>